@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body{
  background: rgb(68,255,211);
  background: linear-gradient(135deg, rgba(68,255,211,1) 0%, rgba(118,225,255,1) 40%, rgba(109,232,246,1) 60%, rgba(68,255,211,1) 100%);
  font-family: 'Open Sans', sans-serif;
}

.container{
  background: rgb(68,255,211);
  background: linear-gradient(135deg, rgba(68,255,211,1) 0%, rgba(118,225,255,1) 40%, rgba(109,232,246,1) 60%, rgba(68,255,211,1) 100%);
}

#btnRegistro {
    background-color: rgb(28, 172, 92);
}